In [1]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

In [2]:
df=pd.read_csv('Cricket.csv', encoding='cp1252')
df.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20
1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15
2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20
3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.20,28,68,34
4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28

In [4]:
prep_df=df[['Ave', 'SR']]
scaler=StandardScaler()
prep_df=scaler.fit_transform(prep_df)
prep_df=pd.DataFrame(prep_df)
prep_df.columns=['Ave', 'SR']
prep_df

         Ave        SR
0   1.072294  0.703152
1   0.587725 -0.044139
2   0.596226  0.110997
3  -1.047909  1.207091
4  -0.876185 -0.034000
..       ...       ...
74  1.106299 -1.457604
75  0.829159 -0.562275
76 -0.537836 -0.234765
77  0.208570  1.332823
78 -1.500174  0.198198

[79 rows x 2 columns]

In [5]:
k_means=KMeans(n_clusters=4, init='k-means++', n_init=50)
k_means.fit(prep_df)
df['Cluster']= k_means.labels_
df.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Cluster
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,3
1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,0
2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,0
3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.20,28,68,34,1
4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,2

In [17]:
df[df['Cluster']== 0]

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Cluster
1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,0
2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,0
5,Inzamam-ul-Haq (Asia/PAK),1991-2007,378,350,53,11739,137*,39.52,15812,74.24,10,83,20,0
6,JH Kallis (Afr/ICC/SA),1996-2014,328,314,53,11579,139,44.36,15885,72.89,17,86,17,0
7,SC Ganguly (Asia/INDIA),1992-2007,311,300,23,11363,183,41.02,15416,73.70,22,72,16,0
8,R Dravid (Asia/ICC/INDIA),1996-2011,344,318,40,10889,153,39.16,15284,71.24,12,83,13,0
9,BC Lara (ICC/WI),1990-2007,299,289,32,10405,169,40.48,13086,79.51,19,63,16,0
11,Mohammad Yousuf (Asia/PAK),1998-2010,288,273,40,9720,141*,41.71,12942,75.10,15,64,15,0
18,Saeed Anwar (PAK),1989-2003,247,244,19,8824,194,39.21,10938,80.67,20,43,15,0
19,S Chanderpaul (WI),1994-2011,268,251,40,8778,150,41.60,12408,70.74,11,59,6,0
21,DL Haynes (WI),1978-1994,238,237,28,8648,152*,41.37,13707,63.09,17,57,13,0
23,ME Waugh (AUS),1988-2002,244,236,20,8500,173,39.35,11053,76.90,18,50,16,0
29,MJ Clarke (AUS),2003-2015,245,223,44,7981,130,44.58,10104,78.98,8,58,10,0
32,Javed Miandad (PAK),1975-1996,233,218,41,7381,119*,41.70,11014,67.01,8,50,8,0
37,GC Smith (Afr/SA),2002-2013,197,194,10,6989,141,37.98,8648,80.81,10,47,8,0
39,G Kirsten (SA),1993-2003,185,185,19,6798,188*,40.95,9436,72.04,13,45,11,0
46,LRPL Taylor (NZ),2006-2017,190,176,29,6486,131*,44.12,7906,82.03,17,37,9,0
49,ML Hayden (AUS/ICC),1993-2008,161,155,15,6133,181*,43.80,7767,78.96,10,36,9,0
51,DM Jones (AUS),1984-1994,164,161,25,6068,145,44.61,8362,72.56,7,46,6,0
56,RR Sarwan (WI),2000-2013,181,169,33,5804,120*,42.67,7663,75.74,5,38,8,0
62,WJ Cronje (SA),1992-2000,188,175,31,5565,112,38.64,7277,76.47,2,39,8,0
65,RG Sharma (INDIA),2007-2017,158,152,24,5435,264,42.46,6427,84.56,11,31,11,0
66,IR Bell (ENG),2004-2015,161,157,14,5416,141,37.87,7019,77.16,4,35,6,0
68,DR Martyn (AUS),1992-2006,208,182,51,5346,144*,40.80,6877,77.73,5,37,10,0
70,G Gambhir (INDIA),2003-2013,147,143,11,5238,150*,39.68,6144,85.25,11,34,11,0
74,CG Greenidge (WI),1975-1991,128,127,13,5134,133*,45.03,7908,64.92,11,31,3,0
75,Misbah-ul-Haq (PAK),2002-2015,162,149,31,5122,96*,43.40,6945,73.75,0,42,6,0