# Imports

In [1]:
#Importing the libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Reading the datasets
leads = pd.read_csv('Leads.csv')
leads.head()

,Prospect ID,Lead Number,Lead Origin,Lead Source,Do Not Email,Do Not Call,Converted,TotalVisits,Total Time Spent on Website,Page Views Per Visit,...,Get updates on DM Content,Lead Profile,City,Asymmetrique Activity Index,Asymmetrique Profile Index,Asymmetrique Activity Score,Asymmetrique Profile Score,I agree to pay the amount through cheque,A free copy of Mastering The Interview,Last Notable Activity
0,7927b2df-8bba-4d29-b9a2-b6e0beafe620,660737,API,Olark Chat,No,No,0,0.0,0,0.0,...,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Modified
1,2a272436-5132-4136-86fa-dcc88c88f482,660728,API,Organic Search,No,No,0,5.0,674,2.5,...,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Email Opened
2,8cc8c611-a219-4f35-ad23-fdfd2656bd8a,660727,Landing Page Submission,Direct Traffic,No,No,1,2.0,1532,2.0,...,No,Potential Lead,Mumbai,02.Medium,01.High,14.0,20.0,No,Yes,Email Opened
3,0cc2df48-7cf4-4e39-9de9-19797f9b38cc,660719,Landing Page Submission,Direct Traffic,No,No,0,1.0,305,1.0,...,No,Select,Mumbai,02.Medium,01.High,13.0,17.0,No,No,Modified
4,3256f628-e534-4826-9d63-4a8b88782852,660681,Landing Page Submission,Google,No,No,1,2.0,1428,1.0,...,No,Select,Mumbai,02.Medium,01.High,15.0,18.0,No,No,Modified

## 1. Data Understanding

In [3]:
#Reading the basic stats of the dataset without any processing
leads.describe()

,Lead Number,Converted,TotalVisits,Total Time Spent on Website,Page Views Per Visit,Asymmetrique Activity Score,Asymmetrique Profile Score
count,9240.000000,9240.000000,9103.000000,9240.000000,9103.000000,5022.000000,5022.000000
mean,617188.435606,0.385390,3.445238,487.698268,2.362820,14.306252,16.344883
std,23405.995698,0.486714,4.854853,548.021466,2.161418,1.386694,1.811395
min,579533.000000,0.000000,0.000000,0.000000,0.000000,7.000000,11.000000
25%,596484.500000,0.000000,1.000000,12.000000,1.000000,14.000000,15.000000
50%,615479.000000,0.000000,3.000000,248.000000,2.000000,14.000000,16.000000
75%,637387.250000,1.000000,5.000000,936.000000,3.000000,15.000000,18.000000
max,660737.000000,1.000000,251.000000,2272.000000,55.000000,18.000000,20.000000

In [4]:
#shape of our data
leads.shape

(9240, 37)

In [5]:
#Datatype of each variables
leads.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9240 entries, 0 to 9239
Data columns (total 37 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Prospect ID                                    9240 non-null   object
 1   Lead Number                                    9240 non-null   int64
 2   Lead Origin                                    9240 non-null   object
 3   Lead Source                                    9204 non-null   object
 4   Do Not Email                                   9240 non-null   object
 5   Do Not Call                                    9240 non-null   object
 6   Converted                                      9240 non-null   int64
 7   TotalVisits                                    9103 non-null   float64
 8   Total Time Spent on Website                    9240 non-null   int64
 9   Page Views Per Visit                           9103 non-null   float64
 10  Last Activity                                  9137 non-null   object
 11  Country                                        6779 non-null   object
 12  Specialization                                 7802 non-null   object
 13  How did you hear about X Education             7033 non-null   object
 14  What is your current occupation                6550 non-null   object
 15  What matters most to you in choosing a course  6531 non-null   object
 16  Search                                         9240 non-null   object
 17  Magazine                                       9240 non-null   object
 18  Newspaper Article                              9240 non-null   object
 19  X Education Forums                             9240 non-null   object
 20  Newspaper                                      9240 non-null   object
 21  Digital Advertisement                          9240 non-null   object
 22  Through Recommendations                        9240 non-null   object
 23  Receive More Updates About Our Courses         9240 non-null   object
 24  Tags                                           5887 non-null   object
 25  Lead Quality                                   4473 non-null   object
 26  Update me on Supply Chain Content              9240 non-null   object
 27  Get updates on DM Content                      9240 non-null   object
 28  Lead Profile                                   6531 non-null   object
 29  City                                           7820 non-null   object
 30  Asymmetrique Activity Index                    5022 non-null   object
 31  Asymmetrique Profile Index                     5022 non-null   object
 32  Asymmetrique Activity Score                    5022 non-null   float64
 33  Asymmetrique Profile Score                     5022 non-null   float64
 34  I agree to pay the amount through cheque       9240 non-null   object
 35  A free copy of Mastering The Interview         9240 non-null   object
 36  Last Notable Activity                          9240 non-null   object
dtypes: float64(4), int64(3), object(30)
memory usage: 2.6+ MB

In [6]:
#TotalVisits should be converted to int
#leads['Page Views Per Visit'].value_counts() - looks weird - how can views be a decimal value

for i in leads.columns:
    print(i)
    print(leads[i].value_counts())
    print('_____________________________________')

Prospect ID
b1f85fbc-0244-4a3e-b7e3-3047478348a5    1
5a3aa671-7ee4-4ac2-824e-357471cc9d6f    1
7df9db7e-7ca4-4424-a7ea-a101f24ad5d8    1
a66b2a39-2f12-4eb4-b6e3-065d88ccf980    1
6832a282-8f10-48f8-9240-6f6a5d8a7fbc    1
                                       ..
6cc9046a-5b94-48b7-8a2e-bc3737a5d5d6    1
0c9a0616-ec5f-488a-8517-bd274216f5e3    1
1ddc803a-0ea0-415d-ad99-637bdf6e5e24    1
fc37bbbb-e1e4-4ed7-8867-496afa31fb85    1
66a14bfa-904a-4c3f-b538-83ea1b82b363    1
Name: Prospect ID, Length: 9240, dtype: int64
_____________________________________
Lead Number
608255    1
596233    1
656682    1
592824    1
652580    1
         ..
631489    1
600768    1
598556    1
616923    1
655360    1
Name: Lead Number, Length: 9240, dtype: int64
_____________________________________
Lead Origin
Landing Page Submission    4886
API                        3580
Lead Add Form               718
Lead Import                  55
Quick Add Form                1
Name: Lead Origin, dtype: int64
_____________________________________
Lead Source
Google               2868
Direct Traffic       2543
Olark Chat           1755
Organic Search       1154
Reference             534
Welingak Website      142
Referral Sites        125
Facebook               55
bing                    6
google                  5
Click2call              4
Press_Release           2
Live Chat               2
Social Media            2
welearnblog_Home        1
Pay per Click Ads       1
NC_EDM                  1
blog                    1
WeLearn                 1
testone                 1
youtubechannel          1
Name: Lead Source, dtype: int64
_____________________________________
Do Not Email
No     8506
Yes     734
Name: Do Not Email, dtype: int64
_____________________________________
Do Not Call
No     9238
Yes       2
Name: Do Not Call, dtype: int64
_____________________________________
Converted
0    5679
1    3561
Name: Converted, dtype: int64
_____________________________________
TotalVisits
0.0      2189
2.0      1680
3.0      1306
4.0      1120
5.0       783
6.0       466
1.0       395
7.0       309
8.0       224
9.0       164
10.0      114
11.0       86
13.0       48
12.0       45
14.0       36
16.0       21
15.0       18
17.0       16
18.0       15
20.0       12
19.0        9
23.0        6
21.0        6
27.0        5
24.0        5
25.0        5
22.0        3
28.0        2
29.0        2
26.0        2
251.0       1
74.0        1
30.0        1
141.0       1
54.0        1
41.0        1
115.0       1
43.0        1
42.0        1
32.0        1
55.0        1
Name: TotalVisits, dtype: int64
_____________________________________
Total Time Spent on Website
0       2193
60        19
127       18
75        18
74        18
        ...
1235       1
1091       1
1043       1
1035       1
1915       1
Name: Total Time Spent on Website, Length: 1731, dtype: int64
_____________________________________
Page Views Per Visit
0.00    2189
2.00    1795
3.00    1196
4.00     896
1.00     651
        ...
1.27       1
8.21       1
2.14       1
2.63       1
2.45       1
Name: Page Views Per Visit, Length: 114, dtype: int64
_____________________________________
Last Activity
Email Opened                    3437
SMS Sent                        2745
Olark Chat Conversation          973
Page Visited on Website          640
Converted to Lead                428
Email Bounced                    326
Email Link Clicked               267
Form Submitted on Website        116
Unreachable                       93
Unsubscribed                      61
Had a Phone Conversation          30
Approached upfront                 9
View in browser link Clicked       6
Email Received                     2
Email Marked Spam                  2
Resubscribed to emails             1
Visited Booth in Tradeshow         1
Name: Last Activity, dtype: int64
_____________________________________
Country
India                   6492
United States             69
United Arab Emirates      53
Singapore                 24
Saudi Arabia              21
United Kingdom            15
Australia                 13
Qatar                     10
Bahrain                    7
Hong Kong                  7
France                     6
Oman                       6
unknown                    5
Germany                    4
Kuwait                     4
South Africa               4
Canada                     4
Nigeria                    4
Sweden                     3
Belgium                    2
Asia/Pacific Region        2
Netherlands                2
Ghana                      2
Italy                      2
Philippines                2
China                      2
Uganda                     2
Bangladesh                 2
Switzerland                1
Kenya                      1
Tanzania                   1
Russia                     1
Indonesia                  1
Malaysia                   1
Sri Lanka                  1
Denmark                    1
Vietnam                    1
Liberia                    1
Name: Country, dtype: int64
_____________________________________
Specialization
Select                               1942
Finance Management                    976
Human Resource Management             848
Marketing Management                  838
Operations Management                 503
Business Administration               403
IT Projects Management                366
Supply Chain Management               349
Banking, Investment And Insurance     338
Media and Advertising                 203
Travel and Tourism                    203
International Business                178
Healthcare Management                 159
Hospitality Management                114
E-COMMERCE                            112
Retail Management                     100
Rural and Agribusiness                 73
E-Business                             57
Services Excellence                    40
Name: Specialization, dtype: int64
_____________________________________
How did you hear about X Education
Select                   5043
Online Search             808
Word Of Mouth             348
Student of SomeSchool     310
Other                     186
Multiple Sources          152
Advertisements             70
Social Media               67
Email                      26
SMS                        23
Name: How did you hear about X Education, dtype: int64
_____________________________________
What is your current occupation
Unemployed              5600
Working Professional     706
Student                  210
Other                     16
Housewife                 10
Businessman                8
Name: What is your current occupation, dtype: int64
_____________________________________
What matters most to you in choosing a course
Better Career Prospects      6528
Flexibility & Convenience       2
Other                           1
Name: What matters most to you in choosing a course, dtype: int64
_____________________________________
Search
No     9226
Yes      14
Name: Search, dtype: int64
_____________________________________
Magazine
No    9240
Name: Magazine, dtype: int64
_____________________________________
Newspaper Article
No     9238
Yes       2
Name: Newspaper Article, dtype: int64
_____________________________________
X Education Forums
No     9239
Yes       1
Name: X Education Forums, dtype: int64
_____________________________________
Newspaper
No     9239
Yes       1
Name: Newspaper, dtype: int64
_____________________________________
Digital Advertisement
No     9236
Yes       4
Name: Digital Advertisement, dtype: int64
_____________________________________
Through Recommendations
No     9233
Yes       7
Name: Through Recommendations, dtype: int64
_____________________________________
Receive More Updates About Our Courses
No    9240
Name: Receive More Updates About Our Courses, dtype: int64
_____________________________________
Tags
Will revert after reading the email                  2072
Ringing                                              1203
Interested in other courses                           513
Already a student                                     465
Closed by Horizzon                                    358
switched off                                          240
Busy                                                  186
Lost to EINS                                          175
Not doing further education                           145
Interested  in full time MBA                          117
Graduation in progress                                111
invalid number                                         83
Diploma holder (Not Eligible)                          63
wrong number given                                     47
opp hangup                                             33
number not provided                                    27
in touch with EINS                                     12
Lost to Others                                          7
Still Thinking                                          6
Want to take admission but has financial problems       6
Interested in Next batch                                5
In confusion whether part time or DLP                   5
Lateral student                                         3
University not recognized                               2
Shall take in the next coming month                     2
Recognition issue (DEC approval)                        1
Name: Tags, dtype: int64
_____________________________________
Lead Quality
Might be             1560
Not Sure             1092
High in Relevance     637
Worst                 601
Low in Relevance      583
Name: Lead Quality, dtype: int64
_____________________________________
Update me on Supply Chain Content
No    9240
Name: Update me on Supply Chain Content, dtype: int64
_____________________________________
Get updates on DM Content
No    9240
Name: Get updates on DM Content, dtype: int64
_____________________________________
Lead Profile
Select                         4146
Potential Lead                 1613
Other Leads                     487
Student of SomeSchool           241
Lateral Student                  24
Dual Specialization Student      20
Name: Lead Profile, dtype: int64
_____________________________________
City
Mumbai                         3222
Select                         2249
Thane & Outskirts               752
Other Cities                    686
Other Cities of Maharashtra     457
Other Metro Cities              380
Tier II Cities                   74

Name: City, dtype: int64
_____________________________________
Asymmetrique Activity Index
02.Medium    3839
01.High       821
03.Low        362
Name: Asymmetrique Activity Index, dtype: int64
_____________________________________
Asymmetrique Profile Index
02.Medium    2788
01.High      2203
03.Low         31
Name: Asymmetrique Profile Index, dtype: int64
_____________________________________
Asymmetrique Activity Score
14.0    1771
15.0    1293
13.0     775
16.0     467
17.0     349
12.0     196
11.0      95
10.0      57
9.0        9
18.0       5
8.0        4
7.0        1
Name: Asymmetrique Activity Score, dtype: int64
_____________________________________
Asymmetrique Profile Score
15.0    1759
18.0    1071
16.0     599
17.0     579
20.0     308
19.0     245
14.0     226
13.0     204
12.0      22
11.0       9
Name: Asymmetrique Profile Score, dtype: int64
_____________________________________
I agree to pay the amount through cheque
No    9240
Name: I agree to pay the amount through cheque, dtype: int64
_____________________________________
A free copy of Mastering The Interview
No     6352
Yes    2888
Name: A free copy of Mastering The Interview, dtype: int64
_____________________________________
Last Notable Activity
Modified                        3407
Email Opened                    2827
SMS Sent                        2172
Page Visited on Website          318
Olark Chat Conversation          183
Email Link Clicked               173
Email Bounced                     60
Unsubscribed                      47
Unreachable                       32
Had a Phone Conversation          14
Email Marked Spam                  2
Resubscribed to emails             1
Approached upfront                 1
Form Submitted on Website          1
View in browser link Clicked       1
Email Received                     1
Name: Last Notable Activity, dtype: int64
_____________________________________

#### From value_counts, it can 
There are no duplicates in Prospect ID
There are no duplicates in Lead Origin

Insights:
- Most leads are sourced through Google...bla bla bla
- Most people donot want to be called or emailed for the course
- Conversion rate is { %} than not

In [ ]:
leads[leads['What matters most to you in choosing a course']=='Other'].Converted

### This is for analysis/removal of columns - single value or high concentration on one value or redundant/irrelevant columns

Update me on Supply Chain Content
No    9240
Name: Update me on Supply Chain Content, dtype: int64
_____________________________________
Get updates on DM Content
No    9240
Name: Get updates on DM Content, dtype: int64
_____________________________________
I agree to pay the amount through cheque
No    9240
Name: I agree to pay the amount through cheque, dtype: int64
_____________________________________
Search
No     9226
Yes      14
Name: Search, dtype: int64
_____________________________________
Magazine
No    9240
Name: Magazine, dtype: int64
_____________________________________
Newspaper Article
No     9238
Yes       2
Name: Newspaper Article, dtype: int64
_____________________________________
X Education Forums
No     9239
Yes       1
Name: X Education Forums, dtype: int64
_____________________________________
Newspaper
No     9239
Yes       1
Name: Newspaper, dtype: int64
_____________________________________
Digital Advertisement
No     9236
Yes       4
Name: Digital Advertisement, dtype: int64
_____________________________________
Through Recommendations
No     9233
Yes       7
Name: Through Recommendations, dtype: int64
_____________________________________
Receive More Updates About Our Courses
No    9240
Name: Receive More Updates About Our Courses, dtype: int64
_____________________________________
What matters most to you in choosing a course
Better Career Prospects      6528
Flexibility & Convenience       2
Other                           1
Name: What matters most to you in choosing a course, dtype: int64
_____________________________________
Do Not Call
No     9238
Yes       2
Name: Do Not Call, dtype: int64

### Null Value Treatment

In [ ]:
leads.columns

In [ ]:
#Checking for null values
(leads.isnull().sum() * 100)/len(leads)

In [ ]:
#We can observe null values on many columns. 
#We can drop the unwanted columns then proceed to treat the null values.

In [ ]:
# del_col = (['Newspaper','Receive More Updates About Our Courses',
#             'Update me on Supply Chain Content','Newspaper Article',
#             'I agree to pay the amount through cheque','Newspaper Article',
#            'Magazine','Get updates on DM Content','X Education Forums','Do Not Call'])

del_col = (['Newspaper','Receive More Updates About Our Courses',
            'Update me on Supply Chain Content','Newspaper Article',
            'I agree to pay the amount through cheque','Newspaper Article',
           'Magazine','Get updates on DM Content','X Education Forums','Do Not Call'])

leads.drop(del_col, axis = 1, inplace = True)

In [ ]:
leads.shape

In [ ]:
ln = leads.isnull().sum() * 100/len(leads)
ln[ln > 0]

In [ ]:
#dropping columns with high percentage of nulls > 35%
del_col = (['Asymmetrique Activity Index','Asymmetrique Profile Index','Asymmetrique Activity Score',
            'Asymmetrique Profile Score','Lead Quality','Tags'])               
leads.drop(del_col, axis = 1, inplace = True)

In [ ]:
#removing Id columns as not relevant to our analysis
leads.drop(['Prospect ID','Lead Number'], axis = 1, inplace = True)

In [ ]:
#treating nulls
#SUbstitue generic value for null
leads['Lead Source'].value_counts()
leads['Lead Source'].fillna("Other", inplace = True) 
leads['Lead Source'].isnull().sum()

In [ ]:
#least number of total visits possible is 0
leads['TotalVisits'].value_counts()
leads['TotalVisits'].fillna(0, inplace = True) 
leads['TotalVisits'].isnull().sum()

In [ ]:
#Replacing with minimum value possible - 0
leads['Page Views Per Visit'].value_counts()
leads['Page Views Per Visit'].fillna(0, inplace = True) 
leads['Page Views Per Visit'].isnull().sum()

In [ ]:
leads['Last Activity'].value_counts()
leads['Last Activity'].fillna("Other", inplace = True) 
leads['Last Activity'].isnull().sum()

In [ ]:
#
leads['Country'].value_counts()
leads['Country'].fillna("unknown", inplace = True) 
leads['Country'].isnull().sum()

In [ ]:
leads.shape

### Outliers

In [ ]:
lead_n = leads.select_dtypes(include=np.number)
num_col = lead_n.columns
num_col

lead_c = leads.select_dtypes(include=np.object)
cat_col = lead_c.columns
(num_col,cat_col)

In [ ]:
# for i in leads.columns:
plt.figure(figsize = (16,8))
subplot = 221
for i in leads[num_col]:
    plt.subplot(subplot)
    sns.boxplot(leads[i])
    subplot +=1
plt.tight_layout()

In [ ]:
#Outlier treatment

## 2. EDA

In [ ]:
for column in cat_col:
    plt.figure(figsize=(30,6))
    plt.subplot(121)
    sns.countplot(x=leads[column],hue=leads['Converted'],data=leads)
    plt.title(column)    
    plt.xticks(rotation=45)

In [ ]:
#Observations